body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3f4f4;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #212a3e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin-bottom: 30px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  font-family: "Montserrat", sans-serif;
}
.navbar-title p {
  margin-left: 20px;
}
.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-list a:hover {
  color: #66ccff;
}

.image-container {
  width: 300px;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
}
.container-utama {
  justify-content: center;
  display: flex;
  background-color: #e3f4f4;
}

.card {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 50px;
}

.left-container {
  width: 300px;
  height: 450px;
  margin-right: 60px;
}

.left-container img {
  width: 100%;
  height: 100%;
}

.right-container {
  /* background-color: #212a3e; */
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title span {
  color: black;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.content {
  max-width: 450px;
  margin-top: 30px;
}

.content p {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button {
  background-color: #212a3e;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
}

button span {
  color: white;
  margin: auto;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

button:hover {
  background-color: #090d13;
  color: #66ccff;
  cursor: pointer;
}

button span:hover {
  color: #66ccff;
}
